
#container {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
h5 {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
}
p {
  padding: 20px 150px;
  font-size: 38px;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  font-family: sans-serif;
}